body {
  background-color: black;
  color: white;
  text-align: center;
  font-family: sans-serif;
  font-size: 18px;
}

#game {
  width: 400px;
  margin: auto;
}

#green-tile, #red-tile, #blue-tile, #yellow-tile {
  width: 200px;
  height: 200px;
  float: left;
}

.green, #green-tile {
  background-color: green;
}

.red, #red-tile {
  background-color: red;
}

.blue, #blue-tile {
  background-color: blue;
}

.yellow, #yellow-tile {
  background-color: yellow;
}

button {
  font-size: 18px;
  margin-top: 20px;
  width: 180px;
}

h2#game-result {
  padding: 6px 0;
}

.clear-both {
  clear: both;
}

.darken {
  opacity: 0.6;
}

.hide {
  display: none;
}
