body {
  background-color: black;
  color: white;
  text-align: center;
}

#game {
  width: 410px;;
  margin: auto;
}

#green-tile, #red-tile, #blue-tile, #yellow-tile {
  width: 200px;
  height: 200px;
  float: left;
}


.green, #green-tile {
  background-color: green;
}

.red, #red-tile {
  background-color: red;
}

.blue, #blue-tile {
  background-color: blue;
}

.yellow, #yellow-tile {
  background-color: yellow;
}

.lighten {
  opacity: 0.6;
}

.clear-both {
  clear: both;
}

button {
  margin-top: 20px;
}
